html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    width: 512px;
    margin: 0 auto;
    margin-top: 2em;
}